/* APP */

body {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: stretch;
    min-height: 100vh;
}


/* HEADER */

.head {
    background-color: rgb(30, 33, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    ;
}

.head__logo {
    margin-left: 20px;
}

.head__export {
    color: #fff;
    display: flex;
    margin-right: 100px;
    align-items: center;
}


.head__avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.head__export p {
    margin-left: 5px;
    font-size: 20px;
}

.head__export i {}


/* FOOTER */

footer {
    background-color: rgb(203, 202, 202);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot__back {
    margin-right: 30px;
    background-color: rgb(41, 152, 88);
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.foot__next {
    margin-left: 30px;
    background-color: rgb(41, 152, 88);
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.foot__pagination {
    font-size: 20px;
    font-weight: 600;
    color: black;
}


main {
    flex-grow: 1;
    overflow-y: scroll;
}

.main_container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav {
    background-color: rgb(30, 33, 51);
    width: 350px;
}


/* SECTIONS MENU */

.sections-menu-ul ul{
    background-color: rgb(40, 44, 63);
}
.sections-menu-ul ul{
display: none;
}
.sections-menu-ul li.tap ul{
display: block;
}
.sections-menu a{
    border-top: 1px solid black;
    padding: 10px 0 10px 20px;
    display: block;
}
.sections-menu .sub-arrow:after{
    content: '\203A';
    float:right;
    margin-right: 20px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
