
.set {
	margin-left: 7px;
	margin-right: 7px;
}

.wrapper {
	text-align: center;
}

.button {
	float: right;
	margin-right: 20px;
	background-color: rgb(40, 150, 90);
	font-style: italic;
	font-weight: bold;
}

h1 {
	text-align: center;
	font-style: italic;
	font-size: 2.5em;
	font-weight: bold;
}

strong {
	font-size: 2em;
}

.factors {
	font-weight: bold;
	font-size: 1.2em;
}

.contenttitles {
	font-style: italic;
	font-size: 1em;
	font-weight: bold;
}

.examtextclass {
	font-size: 0.875em;
	text-align: justify;
	height: 200px;
	width: 400px;
}

.desctextclass {
	font-size: 0.875em;
	height: 200px;
	width: 400px;
	text-align: justify;
}

.stef {
	width: 100%;
	border-collapse: separate;
	border-spacing: 10px 5px;
}

.stef tr {
	width: 80%;
}

.stef tr td {
	width: 50%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	padding: 3%;
}

.stef tr td label {
	width: 100%;
}

.stef tr td textarea {
	width: 100%;
	height: 50px;
}

.space {
	height: 50px;
}

.hiddenDiv {
	display: none;
	text-align: center;
	margin: 40px;
}

.hiddenDiv div {
	text-align: left;
	border: 2px solid black;
	width: 600px;
	margin: auto;
}

.first {
	padding-left: 0%;
	text-align: center;
	margin: auto;
}

.hiddenDiv div p{
	padding-left: 5%;
}

.icons {
	margin-top: 1%;
	width: 100%;
	cursor: pointer;
}

.deleteIcon {
	display:inline-flex;
	float: right;
}

.addIcon {
	display:inline-block;
	float: left;
}

.advices {
	text-align: center;
}

.adviceIcons {
	display: inline-flex;
	padding: 2%;
	cursor: pointer;
}
