<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Swot Analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="0_skeleton.css">
	<link rel="stylesheet" type="text/css" href="1_swot.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

    <header class="head">
        <div class="head__logo">
            <img src="img/myLogo.png" alt="Logo">
        </div>
        <div class="head_export">
                <img src="img/export.png" alt="Export">
                <p>ΕΞΑΓΩΓΗ</p>
            </div>
        <img class="head__avatar" src="img/avatar.png" alt="Avatar">
    </header>


    <div class="main_container">
        <nav>
            <div class="sections-menu">
                <ul class="last_border">
                    <li>
                        <a href="">
                            <p>ΕΠΙΧΕΙΡΗΜΑΤΙΚΟ ΜΟΝΤΕΛΟ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΤΑΥΤΟΤΗΤΑ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΠΕΡΙΓΡΑΦΗ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΑΝΘΡΩΠΙΝΟ ΔΥΝΑΜΙΚΟ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΟΜΑΔΑ ΔΙΟΙΚΗΣΗΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΠΡΟΣΩΠΙΚΟ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΕΞΩΤΕΡΙΚΟΙ ΣΥΝΕΡΓΑΤΕΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΕΓΚΑΤΑΣΤΑΣΕΙΣ - ΕΞΟΠΛΙΣΜΟΣ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΤΟΠΟΣ ΕΓΚΑΤΑΣΤΑΣΗΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΕΞΟΠΛΙΣΜΟΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΠΡΟΪΟΝΤΑ - ΥΠΗΡΕΣΙΕΣ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΠΡΟΙΟΝΤΑ - ΥΠΗΡΕΣΙΕΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΠΝΕΥΜΑΤΙΚΗ ΙΔΙΟΚΤΗΣΙΑ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΑΝΑΛΥΣΗ ΕΣΟΔΩΝ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="1_swot.html" class="current">
                            <p>ΑΝΑΛΥΣΗ ΑΓΟΡΑΣ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="1_swot.html" class="current">
                                    <p>1) ΑΝΑΛΥΣΗ SWOT</p>
                                </a>
                            </li>
                            <li>
                                <a href="2_pestel.html">
                                    <p>2) ΑΝΑΛΥΣΗ PESTEL</p>
                                </a>
                            </li>
                            <li>
                                <a href="3_general.html">
                                    <p>3) ΓΕΝΙΚΕΣ ΠΑΡΑΤΗΡΗΣΕΙΣ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΣΤΡΑΤΗΓΙΚΗ MARKETING</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΣΤΡΑΤΗΓΙΚΗ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΕΝΕΡΓΕΙΕΣ MARKETING</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΕΓΚΑΤΑΣΤΑΣΕΙΣ - ΕΞΟΠΛΙΣΜΟΣ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΤΟΠΟΣ ΕΓΚΑΤΑΣΤΑΣΗΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΕΞΟΠΛΙΣΜΟΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΧΡΗΜΑΤΟΙΚΟΝΟΜΙΚΟΣ ΣΧΕΔΙΑΣΜΟΣ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΚΟΣΤΟΣ ΕΝΑΡΞΗΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΚΟΣΤΟΣ ΛΕΙΤΟΥΡΓΙΑΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΝΕΚΡΟ ΣΗΜΕΙΟ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΧΡΟΝΟΔΙΑΓΡΑΜΜΑ</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p>ΠΑΡΑΡΤΗΜΑ</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p>ΣΥΝΟΨΗ</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

      <main>
        <h1> SWOT ANALYSIS </h1>
        <button id="instructions" class="button" onclick="foo()">ΟΔΗΓΙΕΣ</button>
  			<div id="hidden_div" class="hiddenDiv">
  				<div>
  					<p class="first"><strong>Οδηγίες για σωστό σχέδιο Swot Analysis:</strong></p>
  					<p>1. Να είναι ρεαλιστικό, σύντομο αλλά και απλό</p>
  					<p>2. Να γίνεται σαφής διαχωρισμός της υφιστάμενης και της επιθυμητής κατάστασης για την επιχείρηση</p>
  					<p>3. Να είναι συγκεκριμένο</p>
  					<p>4. Η ανάλυση πρέπει διαρκώς να έχει ως γνώμονα τον ανταγωνισμό</p>
  				</div>
        </div>
        <table class="stef">
          <tr>
            <td>
              <label>
                <strong>Δυνατά Σημεία</strong>
              </label>
              <div class="icons">
                <div class="leftIcon" v-if="adviceIndex[0] > 0">
                  <img src="img/previous.png" alt="PREVIOUS" v-on:click="decreaseIndex(0)">
                </div>
                <div class="rightIcon" v-if="adviceIndex[0] < advices[0].length -1">
                  <img src="img/next.png" alt="NEXT" v-on:click="increaseIndex(0)">
                </div>
              </div>
              <h4 class="advices" >{{advices[0][adviceIndex[0]]}}</h4>
              <textarea  v-for="i in spots[0].length" v-model="spots[0][i-1]">{{spots[0][i-1]}}</textarea>
              <div class="icons">
                <div class="leftIcon">
                  <img  src="img/add.png" alt="ADD" v-on:click="addSpot(0)">
                </div>
                <div class="rightIcon">
                  <img src="img/delete.png" alt="DELETE" v-on:click="removeSpot(0)">
                </div>
              </div>
            </td>
            <td>
              <label>
                <strong>Αδύνατα Σημεία</strong>
              </label>
              <div class="icons">
                <div class="leftIcon" v-if="adviceIndex[1] > 0">
                  <img src="img/previous.png" alt="PREVIOUS" v-on:click="decreaseIndex(1)">
                </div>
                <div class="rightIcon" v-if="adviceIndex[1] < advices[1].length -1">
                  <img src="img/next.png" alt="NEXT" v-on:click="increaseIndex(1)">
                </div>
              </div>
              <h4 class="advices" >{{advices[1][adviceIndex[1]]}}</h4>
              <textarea  v-for="i in spots[1].length" v-model="spots[1][i-1]">{{spots[1][i-1]}}</textarea>
              <div class="icons">
                <div class="leftIcon">
                  <img  src="img/add.png" alt="ADD" v-on:click="addSpot(1)">
                </div>
                <div class="rightIcon">
                  <img src="img/delete.png" alt="DELETE" v-on:click="removeSpot(1)">
                </div>
              </div>
            </td>
          </tr>
          <tr class="space"></tr>
          <tr>
            <td>
              <label>
                <strong>Ευκαιρίες</strong>
              </label>
              <div class="icons">
                <div class="leftIcon" v-if="adviceIndex[2] > 0">
                  <img src="img/previous.png" alt="PREVIOUS" v-on:click="decreaseIndex(2)">
                </div>
                <div class="rightIcon" v-if="adviceIndex[2] < advices[2].length -1">
                  <img src="img/next.png" alt="NEXT" v-on:click="increaseIndex(2)">
                </div>
              </div>
              <h4 class="advices" >{{advices[2][adviceIndex[2]]}}</h4>
              <textarea  v-for="i in spots[2].length" v-model="spots[2][i-1]">{{spots[2][i-1]}}</textarea>
              <div class="icons">
                <div class="leftIcon">
                  <img  src="img/add.png" alt="ADD" v-on:click="addSpot(2)">
                </div>
                <div class="rightIcon">
                  <img src="img/delete.png" alt="DELETE" v-on:click="removeSpot(2)">
                </div>
              </div>
            </td>
            <td>
              <label>
                <strong>Απειλές</strong>
              </label>
              <div class="icons">
                <div class="leftIcon" v-if="adviceIndex[3] > 0">
                  <img src="img/previous.png" alt="PREVIOUS" v-on:click="decreaseIndex(3)">
                </div>
                <div class="rightIcon" v-if="adviceIndex[3] < advices[3].length -1">
                  <img src="img/next.png" alt="NEXT" v-on:click="increaseIndex(3)">
                </div>
              </div>
              <h4 class="advices" >{{advices[3][adviceIndex[3]]}}</h4>
              <textarea  v-for="i in spots[3].length" v-model="spots[3][i-1]">{{spots[3][i-1]}}</textarea>
              <div class="icons">
                <div class="leftIcon">
                  <img  src="img/add.png" alt="ADD" v-on:click="addSpot(3)">
                </div>
                <div class="rightIcon">
                  <img src="img/delete.png" alt="DELETE" v-on:click="removeSpot(3)">
                </div>
              </div>
            </td>
          </tr>
        </table>
        <button id="confirm" class="button" v-on:click="saveData">ΕΠΙΒΕΒΑΙΩΣΗ</button>
      </main>
    </div>

    <footer class="foot">
		<button class="foot__back" onclick="previousPage()">ΠΙΣΩ</button>
        <span class="foot__pagination">
            <p>1/3</p>
        </span>
        <button class="foot__next" onclick="nextPage()">ΜΠΡΟΣΤΑ</button>
    </footer>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>

    <script type="text/javascript">
        var y = document.getElementById("hidden_div");
		y.style.display = 'none';
		function foo(){
            var x = document.getElementById("hidden_div");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }


		function previousPage(){
			window.location.href = "1_swot.html"; // insert previous page here
		}

		function nextPage(){
			window.location.href = "2_pestel.html";
		}
    </script>
    <script src="1_swot.js"></script>
</body>

</html>
