
th, td {
padding: 10px;
}

textarea {
	resize: none;
	border-color: rgb(40, 150, 90);
}

.hidden>div {
	display:none;
}

.visible>div {
	display:block;
}


/* APP */

.set{
	margin-left:7px;
	margin-right:7px;

}

div.text_container {
		width: 400px;
		height:200px;
		margin-left: 5px;
}

.button {

	 margin-right:50%;
	 background-color: rgb(40, 150, 90);
	 font-style: italic;
	 font-weight: bold;
}

main p{

	font-style: italic;
}

h1 {

	text-align: center;
	font-style: italic;
	font-size: 2.5em;
	font-weight: bold;
}

.factors{
	font-weight: bold;
	font-size: 1.2em;
}

.contenttitles{
	font-style: italic;
	font-size: 1em;
	font-weight: bold;
}

.examtextclass{
	font-size: 0.875em;
	text-align: justify;
	height: 200px;
	width: 400px;
}

.desctextclass{
	font-size: 0.875em;
	height: 200px;
	width: 400px;
	text-align: justify;
}

#confirm {
	float: right;
	margin-right: 20px;
	background-color: rgb(40, 150, 90);
	font-style: italic;
	font-weight: bold;
}
