<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pestel Analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="0_skeleton.css">
	<link rel="stylesheet" type="text/css" href="2_pestel.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

    <header class="head">
        <div class="head__logo">
            <img src="img/myLogo.png" alt="Logo">
        </div>
        <div class="head_export">
                <img src="img/export.png" alt="Export">
                <p>ΕΞΑΓΩΓΗ</p>
            </div>
        <img class="head__avatar" src="img/avatar.png" alt="Avatar">
    </header>


        <div class="main_container">
        <nav>
            <div class="sections-menu">
                <ul class="last_border">
                    <li>
                        <a href="">
                            <p>ΕΠΙΧΕΙΡΗΜΑΤΙΚΟ ΜΟΝΤΕΛΟ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΤΑΥΤΟΤΗΤΑ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΠΕΡΙΓΡΑΦΗ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΑΝΘΡΩΠΙΝΟ ΔΥΝΑΜΙΚΟ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΟΜΑΔΑ ΔΙΟΙΚΗΣΗΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΠΡΟΣΩΠΙΚΟ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΕΞΩΤΕΡΙΚΟΙ ΣΥΝΕΡΓΑΤΕΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΕΓΚΑΤΑΣΤΑΣΕΙΣ - ΕΞΟΠΛΙΣΜΟΣ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΤΟΠΟΣ ΕΓΚΑΤΑΣΤΑΣΗΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΕΞΟΠΛΙΣΜΟΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΠΡΟΪΟΝΤΑ - ΥΠΗΡΕΣΙΕΣ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΠΡΟΙΟΝΤΑ - ΥΠΗΡΕΣΙΕΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΠΝΕΥΜΑΤΙΚΗ ΙΔΙΟΚΤΗΣΙΑ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΑΝΑΛΥΣΗ ΕΣΟΔΩΝ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="1_swot.html" class="current">
                            <p>ΑΝΑΛΥΣΗ ΑΓΟΡΑΣ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="1_swot.html">
                                    <p>1) ΑΝΑΛΥΣΗ SWOT</p>
                                </a>
                            </li>
                            <li>
                                <a href="2_pestel.html" class="current">
                                    <p>2) ΑΝΑΛΥΣΗ PESTEL</p>
                                </a>
                            </li>
                            <li>
                                <a href="3_general.html">
                                    <p>3) ΓΕΝΙΚΕΣ ΠΑΡΑΤΗΡΗΣΕΙΣ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΣΤΡΑΤΗΓΙΚΗ MARKETING</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΣΤΡΑΤΗΓΙΚΗ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΕΝΕΡΓΕΙΕΣ MARKETING</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΕΓΚΑΤΑΣΤΑΣΕΙΣ - ΕΞΟΠΛΙΣΜΟΣ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΤΟΠΟΣ ΕΓΚΑΤΑΣΤΑΣΗΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΕΞΟΠΛΙΣΜΟΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΧΡΗΜΑΤΟΙΚΟΝΟΜΙΚΟΣ ΣΧΕΔΙΑΣΜΟΣ</p>
                        </a>
                        <ul>
                            <li>
                                <a href="">
                                    <p>ΚΟΣΤΟΣ ΕΝΑΡΞΗΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΚΟΣΤΟΣ ΛΕΙΤΟΥΡΓΙΑΣ</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>ΝΕΚΡΟ ΣΗΜΕΙΟ</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <p>ΧΡΟΝΟΔΙΑΓΡΑΜΜΑ</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p>ΠΑΡΑΡΤΗΜΑ</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p>ΣΥΝΟΨΗ</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main>
			<h1>ΑΝΑΛΥΣΗ PESTEL</h1>

			<!-- ΠΟΛΙΤΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ-->

            <FIELDSET class="set">
				<LEGEND class="factors"><strong>ΠΟΛΙΤΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ</strong></LEGEND>
				<TABLE class="contentset" >
				<TR>
					<TD>
						<LABEL class="contenttitles" for="description">ΠΕΡΙΓΡΑΦΗ</LABEL>
						<TD>
						<textarea placeholder="Παράγοντες που καθορίζουν το μέγεθος στο οποίο επηρεάζεται η δραστηριότητα της επιχείρησης από πολιτικούς παράγοντες."
						class="desctextclass"id="description1" v-model="descriptions[0]">{{descriptions[0]}}</textarea>
					<TD>
					<LABEL class="contenttitles" for="examples">ΠΑΡΑΔΕΙΓΜΑΤΑ</LABEL>
					<TD>
						<textarea placeholder="Φορολογία, δασμολογία, ..."class="examtextclass"id="examples1" v-model="examples[0]">{{examples[0]}}</textarea>
					<TD>
						<div class="text_container">
						<button id="btn1" class="button">Συμβουλή!</button>
							<div>
								<p>Ποια είναι η πολιτική κατάσταση της χώρας και πως αυτή μπορεί να επηρεάσει τον κλάδο;</p>
							</div>
						</div>

				</TABLE>
			</FIELDSET>
			<br>
			<br>
			<!-- ΟΙΚΟΝΟΜΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ-->

			<FIELDSET class="set">
				<LEGEND class="factors" ><strong>ΟΙΚΟΝΟΜΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ</strong></LEGEND>
				<TABLE class="contentset">
				<TR>
					<TD>
						<LABEL class="contenttitles" for="description">ΠΕΡΙΓΡΑΦΗ</LABEL>
						<TD>
						<textarea placeholder="Παράγοντες που καθορίζουν κατά πόσο η οικονομική κατάσταση έχει άμεσο αντίκτυπο στην δραστηριότητα της επιχείρησης."
						class="desctextclass" id="description2" v-model="descriptions[1]">{{descriptions[1]}</textarea>
					<TD>
					<LABEL class="contenttitles" for="examples">ΠΑΡΑΔΕΙΓΜΑΤΑ</LABEL>
					<TD>
						<textarea placeholder="Πληθωρισμός, νομισματική πολιτική, άμεσες ξένες επενδύσεις, ..." class="examtextclass" id="examples2" v-model="examples[1]">{{examples[1]}}</textarea>
					<TD>
						<div class="text_container">
						<button id="btn1" class="button">Συμβουλή!</button>
							<div>
								<p>Ποιοι είναι οι επικρατέστεροι οικονομικοί παράγοντες;</p>
							</div>
						</div>
				</TABLE>
			</FIELDSET>
			<br>
			<br>
			<!-- ΚΟΙΝΩΝΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ-->

			<FIELDSET class="set">
				<LEGEND class="factors" ><strong>ΚΟΙΝΩΝΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ</strong></LEGEND>
				<TABLE class="contentset" >
				<TR>
					<TD>
						<LABEL class="contenttitles" for="description">ΠΕΡΙΓΡΑΦΗ</LABEL>
						<TD>
						<textarea placeholder="Παράγοντες που αφορούν το κοινωνικό περιβάλλον της αγοράς στην οποία δραστηριοποιείται η επιχείρηση."
						class="desctextclass" id="description3" v-model="descriptions[2]">{{descriptions[2]}}</textarea>
					<TD>
					<LABEL class="contenttitles" for="examples">ΠΑΡΑΔΕΙΓΜΑΤΑ</LABEL>
					<TD>
						<textarea placeholder="Τάσεις της μόδας, δημογραφικά χαρακτηριστικά, ..." class="examtextclass" id="examples3" v-model="examples[2]">{{examples[2]}}</textarea>
					<TD>
						<div class="text_container">
						<button id="btn3" class="button">Συμβουλή!</button>
							<div>
								<p> Πόση σημασία έχει η κουλτούρα στον συγκεκριμένο κλάδο και ποιοι παράγοντες καθορίζουν την κουλτούρα αυτή;</p>
							</div>
						</div>

				</TABLE>
			</FIELDSET>
			<br>
			<br>
			<!-- ΤΕΧΝΟΛΟΓΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ-->

			<FIELDSET class="set">
				<LEGEND class="factors"><strong>ΤΕΧΝΟΛΟΓΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ</strong></LEGEND>
				<TABLE class="contentset">
				<TR>
					<TD>
						<LABEL class="contenttitles" for="description">ΠΕΡΙΓΡΑΦΗ</LABEL>
						<TD>
						<textarea placeholder="Παράγοντες που μπορεί να δώσουν τεχνολογικές λύσεις και αλλαγές στον τρόπο που λειτουργεί ο κλάδος της επιχείρησης. Επηρεάζουν είτε θετικά είτε αρνητικά."
						class="desctextclass" id="description4" v-model="descriptions[3]">{{descriptions[3]}}</textarea>
					<TD>
					<LABEL class="contenttitles" for="examples">ΠΑΡΑΔΕΙΓΜΑΤΑ</LABEL>
					<TD>
						<textarea placeholder="Aυτοματισμοί, έρευνα και ανάπτυξη, επίγνωση του κόσμου σχετικά με τις τεχνολογικές εξελίξεις, ..." class="examtextclass" id="examples4" v-model="examples[3]">{{examples[3]}}</textarea>
					<TD>
						<div class="text_container">
						<button id="btn4" class="button">Συμβουλή!</button>
							<div>
								<p>Ποιες τεχνολογικές καινοτομίες προβλέπεται ότι θα εμφανιστούν και πως αυτές μπορούν να επηρεάσουν τον κλάδο;</p>
							</div>
						</div>

				</TABLE>
			</FIELDSET>
			<br>
			<br>
			<!-- ΝΟΜΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ-->

			<FIELDSET class="set">
				<LEGEND class="factors" ><strong>ΝΟΜΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ</strong></LEGEND>
				<TABLE class="contentset" >
				<TR>
					<TD>
						<LABEL class="contenttitles" for="description">ΠΕΡΙΓΡΑΦΗ</LABEL>
						<TD>
						<textarea placeholder="Παράγοντες που έχουν να κάνουν με το εξωτερικό νομοθετικό πλαίσιο και με τον εσωτερικό κανονισμό της επιχείρησης"
						class="desctextclass" id="description5" v-model="descriptions[4]">{{descriptions[4]}}</textarea>
					<TD>
					<LABEL class="contenttitles" for="examples">ΠΑΡΑΔΕΙΓΜΑΤΑ</LABEL>
					<TD>
						<textarea placeholder="Εργασιακή νομοθεσία, προστασία καταναλωτή, προδιαγραφές ποιότητας και ασφάλειας, ..." class="examtextclass" id="examples5" v-model="examples[4]">{{examples[4]}}</textarea>
					<TD>
						<div class="text_container">
						<button id="btn5" class="button">Συμβουλή!</button>
							<div>
								<p>Ποια είναι η σχετική νομοθεσία με τον κλάδο;</p>
							</div>
						</div>

				</TABLE>
			</FIELDSET>
			<br>
			<br>
			<!-- ΠΕΡΙΒΑΛΛΟΝΤΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ-->

			<FIELDSET class="set">
				<LEGEND class="factors" ><strong>ΠΕΡΙΒΑΛΛΟΝΤΙΚΟΙ ΠΑΡΑΓΟΝΤΕΣ</strong></LEGEND>
				<TABLE class="contentset" >
				<TR>
					<TD>
						<LABEL class="contenttitles" for="description">ΠΕΡΙΓΡΑΦΗ</LABEL>
						<TD>
						<textarea placeholder="Παράγοντες που καθορίζονται από το περιβάλλον"
						class="desctextclass" id="description6" v-model="descriptions[5]">{{descriptions[5]}}</textarea>
					<TD>
					<LABEL class="contenttitles" for="examples">ΠΑΡΑΔΕΙΓΜΑΤΑ</LABEL>
					<TD>
						<textarea placeholder="Κλίμα/Καιρός, γεωγραφική θέση, κλιματική αλλαγή, ..." class="examtextclass" id="examples6" v-model="examples[5]">{{examples[5]}}</textarea>
					<TD>
						<div class="text_container">
						<button id="btn6" class="button">Συμβουλή!</button>
							<div>
								<p>Ποιες είναι οι περιβαλλοντικές ανησυχίες για τον κλάδο;</p>
							</div>
						</div>

				</TABLE>
			</FIELDSET>
      <br>
      <button id="confirm" class="button" v-on:click="saveData">ΕΠΙΒΕΒΑΙΩΣΗ</button>
      <br>
      <br>



        </main>
    </div>





    <footer class="foot">
        <button class="foot__back" onclick="previousPage()">ΠΙΣΩ</button>
        <span class="foot__pagination">
            <p>2/3</p>
        </span>
        <button class="foot__next" onclick="nextPage()">ΜΠΡΟΣΤΑ</button>
    </footer>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>

    <script type="text/javascript">
		$(document).ready(function(){
			$('.text_container').addClass("hidden");

			$('.text_container').click(function() {
				var $this = $(this);

				if ($this.hasClass("hidden")) {
					$(this).removeClass("hidden").addClass("visible");

				} else {
					$(this).removeClass("visible").addClass("hidden");
				}
			});
		});

		function previousPage(){
			window.location.href = "1_swot.html";
		}

		function nextPage(){
			window.location.href = "3_general.html";
		}
</script>
<script src="2_pestel.js"></script>
</body>

</html>
