
.general {
	width: 800px;
	height: 400px;
	margin: auto;
	display: block;
	margin-top: 50px;
}


/* APP */

.set {
	margin-left: 7px;
	margin-right: 7px;
}

.wrapper {
	text-align: center;
}

.button {
	float: right;
	margin-right: 20px;
	background-color: rgb(40, 150, 90);
	font-style: italic;
	font-weight: bold;
}

h1 {

	text-align: center;
	font-style: italic;
	font-size: 2.5em;
	font-weight: bold;
}

.factors {
	font-weight: bold;
	font-size: 1.2em;
}

.contenttitles {
	font-style: italic;
	font-size: 1em;
	font-weight: bold;
}


.examtextclass {
	font-size: 0.875em;
	text-align: justify;
	height: 200px;
	width: 400px;
}

.desctextclass {
	font-size: 0.875em;
	height: 200px;
	width: 400px;
	text-align: justify;
}

.hiddenDiv {
	display: none; 
	text-align: center;
	margin: 40px;
}

.hiddenDiv div {
	text-align: left;
	border: 2px solid black;
	width: 600px;
	margin: auto;
	
}

.first {
	padding-left: 0%;
	text-align: center;
	margin: auto;
}

.hiddenDiv div p{
	padding-left: 5%;
}
