body {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: stretch;
    min-height: 100vh;
}
    /* HEADER */

.head {
    background-color: rgb(30, 33, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    ;
}

.head__logo {
    margin-left: 20px;
}

.head__export {
    color: #fff;
    display: flex;
    margin-right: 100px;
    align-items: center;
}

.head__avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.head__export p {
    margin-left: 5px;
    font-size: 20px;
}

.head__export i {}

    /* FOOTER */

footer {
    background-color: rgb(203, 202, 202);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot__back {
    margin-right: 30px;
    background-color: rgb(41, 152, 88);
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.foot__next {
    margin-left: 30px;
    background-color: rgb(41, 152, 88);
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.foot__pagination {
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.main_container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav {
    background-color: rgb(30, 33, 51);
    width: 350px;
}

/* SECTIONS MENU */

.sections-menu {}

.sections-menu ul {
    list-style: none;
    margin: 0;
}

.sections-menu ul li {
    padding: 15px;
    position: relative;
    width: 350px;
    border-top: 1px solid black;
    background-color: rgb(30, 33, 51);
}

.sections-menu ul li {
    border-right: 5px solid rgb(61, 65, 90);
}

.sections-menu ul ul {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -2%;
    background-color: rgb(40, 44, 63);
}

.sections-menu ul ul li {
    background-color: rgb(79, 84, 115);
    width: 250px;
}

.sections-menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

.sections-menu ul li a {
    color: white;
}

    /* BASIC ELEMENTS */

.basic_button {
    background-color: rgb(24, 146, 105);
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    flex-grow: 1;   
    height:834px;
    overflow: auto;
    margin: 0px 0px 0px 50px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 25px;   
}
h1{
    margin : 20px 0px 5px 0px;
    font-size : 18px;
}
.options{
    margin: 20px 10px 20px 10px;
    display: block;
}
.tooltip{
    margin-top: 30px;
    margin-right: 20px;
    background-color: rgb(41, 152, 100);
    color: white;
    width: 153px;
    height: 52px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    float: right;  
}
select {
    margin-top: 10px;
    width: 450px;
    height: 60px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
}
.quest58 textarea{
    width: 1000px;
}
textarea{
    margin-top: 10px;
    width: 450px;
    height: 80px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
.container {
    position: relative;
    padding-left: 33px;
    margin-bottom: 12px;
    margin-right: 100px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color: rgb(41, 152, 100);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.Align{
    display: flex;
}
form{
    margin-right:100px;
}
.tips{
    position: fixed;
    top: 100px;
    right: 40px;
    background-color: rgb(41, 152, 100);
    color: white;
    width: 153px;
    height: 52px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
#instructions {
    position: fixed;
    width: 350px;
    height: 300px;
    top: 140px;
    right: 40px;
    padding: 22px;
    text-align: left;
    background-color: lightgrey;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: none;
}

#pneumatiki {
    display: none;
}

#analisi {
    display: none;
}

.add{
    border: none;
    background-color: white;
    margin: 30px 0px 30px 10px;
}
