main{
    height:834px;
    overflow: auto;
    margin: 0px 0px 0px 50px;
    font-family: 'Open Sans' , sans-serif;
    font-size: 25px;   
}
h1{
    margin : 20px 0px 5px 0px;
    font-size : 18px;
}
.options{
    margin: 20px 10px 20px 10px;
    display: block;
}
.tooltip{
    margin-top: 30px;
    margin-right: 20px;
    background-color: rgb(41, 152, 100);
    color: white;
    width: 153px;
    height: 52px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    float: right;  
}
select {
    margin-top: 10px;
    width: 450px;
    height: 60px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
}
.quest58 textarea{
    width: 1000px;
}
textarea{
    margin-top: 10px;
    width: 450px;
    height: 80px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
.container {
    position: relative;
    padding-left: 33px;
    margin-bottom: 12px;
    margin-right: 100px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color: rgb(41, 152, 100);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.Align{
    display: flex;
}
form{
    margin-right:100px;
}
.tips{
    position: fixed;
    top: 100px;
    right: 40px;
    background-color: rgb(41, 152, 100);
    color: white;
    width: 153px;
    height: 52px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
#myDIV {
    position: fixed;
    width: 350px;
    height: 300px;
    top: 140px;
    right: 40px;
    padding: 22px;
    text-align: left;
    background-color: lightgrey;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: none;
}
.add{
    border: none;
    background-color: white;
    margin: 30px 0px 30px 10px;
}