<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BP Tool</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

    <header class="head">
        <div class="head__logo">
            <img src="Logo.png" alt="Logo">
        </div>
        <div class="head__export">
            <i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i>
            <p>Export</p>
        </div>
        <img class="head__avatar" src="avatar.jpg" alt="Avatar">
    </header>


    <div class="main_container">
        <nav>
            <div class="sections-menu">
                <ul>
                    <li>
                        <a href="">ΕΠΙΧΕΙΡΗΜΑΤΙΚΟ ΜΟΝΤΕΛΟ</a>
                        <ul>
                            <li>
                                <a href="">ΤΑΥΤΟΤΗΤΑ</a>
                            </li>
                            <li>
                                <a href="">ΠΕΡΙΓΡΑΦΗ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΑΝΘΡΩΠΙΝΟ ΔΥΝΑΜΙΚΟ</a>
                        <ul>
                            <li>
                                <a href="">ΟΜΑΔΑ ΔΙΟΙΚΗΣΗΣ</a>
                            </li>
                            <li>
                                <a href="">ΠΡΟΣΩΠΙΚΟ</a>
                            </li>
                            <li>
                                <a href="">ΕΞΩΤΕΡΙΚΟΙ ΣΥΝΕΡΓΑΤΕΣ</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΕΓΚΑΤΑΣΤΑΣΕΙΣ - ΕΞΟΠΛΙΣΜΟΣ</a>
                        <ul>
                            <li>
                                <a href="">ΤΟΠΟΣ ΕΓΚΑΤΑΣΤΑΣΗΣ</a>
                            </li>
                            <li>
                                <a href="">ΕΞΟΠΛΙΣΜΟΣ</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΠΡΟΪΟΝΤΑ - ΥΠΗΡΕΣΙΕΣ</a>
                        <ul>
                            <li>
                                <a href="">ΠΡΟΙΟΝΤΑ - ΥΠΗΡΕΣΙΕΣ</a>
                            </li>
                            <li>
                                <a href="">ΠΝΕΥΜΑΤΙΚΗ ΙΔΙΟΚΤΗΣΙΑ</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ ΕΣΟΔΩΝ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΑΝΑΛΥΣΗ ΑΓΟΡΑΣ</a>
                        <ul>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ SWOT</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ PESTEL</a>
                            </li>
                            <li>
                                <a href="">ΓΕΝΙΚΕΣ ΠΑΡΑΤΗΡΗΣΕΙΣ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΣΤΡΑΤΗΓΙΚΗ MARKETING</a>
                        <ul>
                            <li>
                                <a href="">ΣΤΡΑΤΗΓΙΚΗ</a>
                            </li>
                            <li>
                                <a href="">ΕΝΕΡΓΕΙΕΣ MARKETING</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΧΡΗΜΑΤΟΙΚΟΝΟΜΙΚΟΣ ΣΧΕΔΙΑΣΜΟΣ</a>
                        <ul>
                            <li>
                                <a href="">ΚΟΣΤΟΣ ΕΝΑΡΞΗΣ</a>
                            </li>
                            <li>
                                <a href="">ΚΟΣΤΟΣ ΛΕΙΤΟΥΡΓΙΑΣ</a>
                            </li>
                            <li>
                                <a href="">ΝΕΚΡΟ ΣΗΜΕΙΟ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΧΡΟΝΟΔΙΑΓΡΑΜΜΑ</a>
                    </li>
                    <li>
                        <a href="">ΠΑΡΑΡΤΗΜΑ</a>
                    </li>
                    <li>
                        <a href="">ΣΥΝΟΨΗ</a>
                    </li>

                </ul>
            </div>
        </nav>

        <main>
            <button id="button1" class="button1" onclick="instr()" >ΟΔΗΓΙΕΣ</button>

                <div id="hidden_div" class="hiddenDiv">
    				<div id="odigies">
                            <p class="first">Βοηθητικές οδηγίες για τη σωστή περιγραφή ενεργειών marketing:</p>
                            <p>1. Αναλυτική περιγραφή την ενέργειας marketing.</p>
                            <p>2. Σωστός και σαφής υπολογισμός του κόστους κάθε ενέργειας.</p>
                            <p>3. Σε περίπτωση επανάληψης, αναφέρετε αναλυτικά κάθε πότε θα συμβαίνει η ενέργεια. </p>
                            <p>4. Το συνολικό κόστος υπάρχει σε περίπτωση επανάληψης. Τότε πρέπει να γίνει υπολογισμός του συνολικού κόστους της ενέργειας ανάλογα με την εκάστοτε επανάληψη.</p>
    				</div>
                </div>
            <div id = "root">
            <form class="strategy_form">
                <label>1. Ποιά ενέργεια θα πράξετε για την προώθηση του προιόντος/υπηρεσίας σας;<br>
                    <input id="input" type="text" name="energeia" placeholder="ΕΝΕΡΓΕΙΑ" v-model="mytitle"></label>
                <br><br>
               <div class="half">
                   <label>2. Ποίος έιναι ο αναμενόμενος χρόνος υλοποίησής;
                       <input id="input" type="text" name="xronos_ulipoihshs" placeholder="ΧΡΟΝΟΣ ΥΛΟΠΟΙΗΣΗΣ" v-model="myimplementationTime">
                  </label>
                    <br><br>
                        <label>4. Ποιό είναι το προβλεπόμενο κόστος υλοποίησης;
                       <input  id="input" type="text" name="kostos_ulopoisis" placeholder="ΚΟΣΤΟΣ ΥΛΟΠΟΙΗΣΗΣ" v-model="myimplementationCost">
                    </label>

                   </div>


                <div class="half">
                    <label>3. Πόσο συχνά θα επαναλμβάνεται αυτή η ενέργεια;
                            <input id="input" type="text" name="syxnotita" placeholder="ΣΥΧΝΟΤΗΤΑ" v-model="myfrequency">
                            </label>
                    <br><br>
                    <label>5. Ποιό είναι το προβλεπόμενο συνολικό κόστος;
                        <input  id="input" type="text" name="sunoliko_kostos" placeholder="ΣΥΝΟΛΙΚΟ ΚΟΣΤΟΣ(επανάληψη)" v-model="mytotalCost">
                    </label>
                    <button v-on:click="postData">Save Data</button>
                </div>
              </div>



            </form>

        </main>
    </div>

<script>
new Vue({
  el: '#root',
  data: {
    mytitle:'',
    myimplementationTime:'',
    myfrequency: '',
    myimplementationCost: '',
    mytotalCost:''
  },
  methods:{
    postData(){
        axios.post(`http://jsonplaceholder.typicode.com/posts`, {
                            Title: this.title,
                            ImplementationTime: this.myimplementationTime,
                            Frequency: this.myfrequency,
                            ImplementationCost: this.myimplementationCost,
                            TotalCost: this.mytotalCost })
                      .then(function (response) {
                          console.log(response);
                      })
                      .catch(function (error) {
                          console.log(error);
                      });

    }
  }


  }
});
</script>

    <footer class="foot">
        <button class="foot__back">ΠΡΟΗΓΟΥΜΕΝΟ</button>
        <span class="foot__pagination">
            <p>2/2</p>
        </span>
        <button class="foot__next">ΕΠΟΜΕΝΟ</button>
    </footer>

    <script type="text/javascript">
        var y = document.getElementById("hidden_div");
		      y.style.display = 'none';
		function instr(){
            var x = document.getElementById("hidden_div");
            var w = document.getElementById("button1");
            if (x.style.display === "none") {
                x.style.display = "block";
                w.style.backgroundColor ='#12492a';


            } else {
                x.style.display = "none";
                w.style.backgroundColor ='#299858';

            }
        }
        </script>

</body>

</html>
