<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BP Tool</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

    <header class="head">
        <div class="head__logo">
            <img src="Logo.png" alt="Logo">
        </div>
        <div class="head__export">
            <i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i>
            <p>Export</p>
        </div>
        <img class="head__avatar" src="avatar.jpg" alt="Avatar">
    </header>


    <div class="main_container">
        <nav>
            <div class="sections-menu">
                <ul>
                    <li>
                        <a href="">ΕΠΙΧΕΙΡΗΜΑΤΙΚΟ ΜΟΝΤΕΛΟ</a>
                        <ul>
                            <li>
                                <a href="">ΤΑΥΤΟΤΗΤΑ</a>
                            </li>
                            <li>
                                <a href="">ΠΕΡΙΓΡΑΦΗ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΑΝΘΡΩΠΙΝΟ ΔΥΝΑΜΙΚΟ</a>
                        <ul>
                            <li>
                                <a href="">ΟΜΑΔΑ ΔΙΟΙΚΗΣΗΣ</a>
                            </li>
                            <li>
                                <a href="">ΠΡΟΣΩΠΙΚΟ</a>
                            </li>
                            <li>
                                <a href="">ΕΞΩΤΕΡΙΚΟΙ ΣΥΝΕΡΓΑΤΕΣ</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΕΓΚΑΤΑΣΤΑΣΕΙΣ - ΕΞΟΠΛΙΣΜΟΣ</a>
                        <ul>
                            <li>
                                <a href="">ΤΟΠΟΣ ΕΓΚΑΤΑΣΤΑΣΗΣ</a>
                            </li>
                            <li>
                                <a href="">ΕΞΟΠΛΙΣΜΟΣ</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΠΡΟΪΟΝΤΑ - ΥΠΗΡΕΣΙΕΣ</a>
                        <ul>
                            <li>
                                <a href="">ΠΡΟΙΟΝΤΑ - ΥΠΗΡΕΣΙΕΣ</a>
                            </li>
                            <li>
                                <a href="">ΠΝΕΥΜΑΤΙΚΗ ΙΔΙΟΚΤΗΣΙΑ</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ ΕΣΟΔΩΝ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΑΝΑΛΥΣΗ ΑΓΟΡΑΣ</a>
                        <ul>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ SWOT</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ PESTEL</a>
                            </li>
                            <li>
                                <a href="">ΓΕΝΙΚΕΣ ΠΑΡΑΤΗΡΗΣΕΙΣ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΣΤΡΑΤΗΓΙΚΗ MARKETING</a>
                        <ul>
                            <li>
                                <a href="">ΣΤΡΑΤΗΓΙΚΗ</a>
                            </li>
                            <li>
                                <a href="">ΕΝΕΡΓΕΙΕΣ MARKETING</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΧΡΗΜΑΤΟΙΚΟΝΟΜΙΚΟΣ ΣΧΕΔΙΑΣΜΟΣ</a>
                        <ul>
                            <li>
                                <a href="">ΚΟΣΤΟΣ ΕΝΑΡΞΗΣ</a>
                            </li>
                            <li>
                                <a href="">ΚΟΣΤΟΣ ΛΕΙΤΟΥΡΓΙΑΣ</a>
                            </li>
                            <li>
                                <a href="">ΝΕΚΡΟ ΣΗΜΕΙΟ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΧΡΟΝΟΔΙΑΓΡΑΜΜΑ</a>
                    </li>
                    <li>
                        <a href="">ΠΑΡΑΡΤΗΜΑ</a>
                    </li>
                    <li>
                        <a href="">ΣΥΝΟΨΗ</a>
                    </li>

                </ul>
            </div>
        </nav>

        <main>
            <button id="button1" class="button1" onclick="instr()" >ΟΔΗΓΙΕΣ</button>

                <div id="hidden_div" class="hiddenDiv">
    				<div id="odigies">
                            <p class="first">Βοηθητικές οδηγίες για υλοποίηση στρατηγικής marketing:</p>
                            <p>1. Στόχος είναι το χαμηλό κόστος χωρίς μεγάλες σπατάλες.</p>
                            <p>2. Να ανταποκρίνεται σε πραγματικές συνθήκες ανταγωνισμού αγοράς.</p>
                            <p>3. Να είναι σαφείς, σύντομες και όχι μακροσκελείς οι αναφορές. </p>
                            <p>4. Να λαμβάνονται υπ όψη οι απαιτήσεις των καταναλωτών.</p>
                            <p>5. Αναλυτική περιγραφή λαθών για να μην επαναληφθούν στο μέλλον.</p>
    				</div>
                </div>
            <div id= "root">
            <form class="strategy_form">
                <label>1. Ποιά κανάλια προβολής θα χρησιμοποιήσετε για την προώθηση του προϊόντος/υπηρεσίας σας;<br>
                    <input type="text" name="kanalia_probolis" placeholder="ΚΑΝΑΛΙΑ ΠΡΟΒΟΛΗΣ" v-model="mypromotion"></label><br><br>
                <label>2. Ποιά κανάλια διανομής θα προτιμήσετε για το προϊόν/υπηρεσία σας;<br>
                    <input type="text" name="kanalia_dianomis" placeholder="ΚΑΝΑΛΙΑ ΔΙΑΝΟΜΗΣ" v-model="mycontribution"></label><br><br>
                <label>3. Ποιές τεχνικές για την εισαγωγή του προϊόντος/υπηρεσίας σας στην αγορά θα ακολουθήσετε;<br>
                    <input type="text" name="texnikes_eisagogis" placeholder="ΤΕΧΙΚΕΣ ΕΙΣΑΓΩΓΗΣ ΣΤΗΝ ΑΓΟΡΑ" v-model="mymarketEntry"></label><br><br>
                <label>4. Ποιός θα είναι ο σχεδιασμός των δημοσίων σχέσεων που θα ακολουθήσετε;<br>
                    <input type="text" name="dimosies_sxeseis" placeholder="ΔΗΜΟΣΙΕΣ ΣΧΕΣΕΙΣ" v-model="mypublicRelations"></label><br><br>
                <label>5. Κινήσεις προς αποφυγή και Λάθη του παρελθόντος:<br>
                    <input type="text" name="kiniseis_apofugi" placeholder="ΚΙΝΗΣΕΙΣ ΠΡΟΣ ΑΠΟΦΥΓΗ/ΛΑΘΗ" v-model="myavoid"></label><br>

                    <button v-on:click="saveData">Submit</button>
            </form>
          </div>
        </main>
    </div>



    <footer class="foot">
        <button class="foot__back">ΠΙΣΩ</button>
        <span class="foot__pagination">
            <p>1/2</p>
        </span>
        <button class="foot__next">ΜΠΡΟΣΤΑ</button>
    </footer>

    <script type="text/javascript">
        var y = document.getElementById("hidden_div");
		      y.style.display = 'none';
		function instr(){
            var x = document.getElementById("hidden_div");
            var w = document.getElementById("button1");
            if (x.style.display === "none") {
                x.style.display = "block";
                w.style.backgroundColor ='#12492a';
            } else {
                x.style.display = "none";
                w.style.backgroundColor ='#299858';
            }
        }
</script>
<script>
        new Vue({
          el: '#root',
          data: {
            mypromotion: '',
            mycontribution: '',
            mymarketEntry: '',
            mypublicRelations: '',
            myavoid: ''
          },

          methods: {
            saveData(){


              axios.post(`http://jsonplaceholder.typicode.com/posts`,{
                                    Promotion: this.mypromotion,
                                    Contribution: this.mycontribution,
                                    MarketEntry: this.mymarketEntry,
                                    PublicRelations: this.mypublicRelations,
                                    Avoid: this.myavoid })
                          .then(function (response) {
                              console.log(response);
                          })
                          .catch(function (error) {
                              console.log(error);
                            });
              },

          test(){
            alert("Works");
          },
        }
        })
</script>

</body>

</html>
