
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BP Tool</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
        /* BASIC ELEMENTS */

        .basic_button {
            background-color: rgb(24, 146, 105);
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
     <script>
        // When the user clicks on div, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
</head>

<body>

    <header class="head">
        <div class="head__logo">
            <img src="Logo.png" alt="Logo">
        </div>
        <div class="head__export">
            <i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i>
            <p>Export</p>
        </div>
        <img class="head__avatar" src="elvis.jpg" alt="Avatar">
    </header>

   

    <div class="main_container">
        <nav>
            <div class="sections-menu">
                <ul>
                    <li>
                        <a href="">ΕΠΙΧΕΙΡΗΜΑΤΙΚΟ ΜΟΝΤΕΛΟ</a>
                        <ul>
                            <li>
                                <a href="">ΤΑΥΤΟΤΗΤΑ</a>
                            </li>
                            <li>
                                <a href="">ΠΕΡΙΓΡΑΦΗ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΑΝΘΡΩΠΙΝΟ ΔΥΝΑΜΙΚΟ</a>
                        <ul>
                            <li>
                                <a href="">ΟΜΑΔΑ ΔΙΟΙΚΗΣΗΣ</a>
                            </li>
                            <li>
                                <a href="">ΠΡΟΣΩΠΙΚΟ</a>
                            </li>
                            <li>
                                <a href="">ΕΞΩΤΕΡΙΚΟΙ ΣΥΝΕΡΓΑΤΕΣ</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΕΓΚΑΤΑΣΤΑΣΕΙΣ - ΕΞΟΠΛΙΣΜΟΣ</a>
                        <ul>
                            <li>
                                <a href="">ΤΟΠΟΣ ΕΓΚΑΤΑΣΤΑΣΗΣ</a>
                            </li>
                            <li>
                                <a href="">ΕΞΟΠΛΙΣΜΟΣ</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ ΚΟΣΤΟΥΣ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΠΡΟΪΟΝΤΑ - ΥΠΗΡΕΣΙΕΣ</a>
                        <ul>
                            <li>
                                <a href="">ΠΡΟΙΟΝΤΑ - ΥΠΗΡΕΣΙΕΣ</a>
                            </li>
                            <li>
                                <a href="">ΠΝΕΥΜΑΤΙΚΗ ΙΔΙΟΚΤΗΣΙΑ</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ ΕΣΟΔΩΝ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΑΝΑΛΥΣΗ ΑΓΟΡΑΣ</a>
                        <ul>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ SWOT</a>
                            </li>
                            <li>
                                <a href="">ΑΝΑΛΥΣΗ PESTEL</a>
                            </li>
                            <li>
                                <a href="">ΓΕΝΙΚΕΣ ΠΑΡΑΤΗΡΗΣΕΙΣ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΣΤΡΑΤΗΓΙΚΗ MARKETING</a>
                        <ul>
                            <li>
                                <a href="">ΣΤΡΑΤΗΓΙΚΗ</a>
                            </li>
                            <li>
                                <a href="">ΕΝΕΡΓΕΙΕΣ MARKETING</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΧΡΗΜΑΤΟΙΚΟΝΟΜΙΚΟΣ ΣΧΕΔΙΑΣΜΟΣ</a>
                        <ul>
                            <li>
                                <a href="">ΚΟΣΤΟΣ ΕΝΑΡΞΗΣ</a>
                            </li>
                            <li>
                                <a href="">ΚΟΣΤΟΣ ΛΕΙΤΟΥΡΓΙΑΣ</a>
                            </li>
                            <li>
                                <a href="">ΝΕΚΡΟ ΣΗΜΕΙΟ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">ΧΡΟΝΟΔΙΑΓΡΑΜΜΑ</a>
                    </li>
                    <li>
                        <a href="">ΠΑΡΑΡΤΗΜΑ</a>
                    </li>
                    <li>
                        <a href="">ΣΥΝΟΨΗ</a>
                    </li>

                </ul>
            </div>
        </nav>
    <main>
         <!-- INSTRUCTIONS -->
                        <!-- instruction script -->
                        <script type="text/x-template" id="modal-template">
                            <transition name="modal">
                            <div class="modal-mask">
                                <div class="modal-wrapper">
                                <div class="modal-container">
                        
                                    <div class="modal-header">
                                    <slot name="header"></slot>
                                    </div>
                        
                                    <div class="modal-body">
                                    <slot name="body"></slot>
                                    </div>
                        
                                    <div class="modal-footer">
                                    <slot name="footer">
                                        <button class="modal-default-button" @click="$emit('close')">
                                        OK
                                        </button>
                                    </slot>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </transition>
                        </script>
                            <!-- instruction html -->
                    
                        
                        </script>
            
                        <!-- MAIN BODY -->
                        <div id="userArea"> 
                            <div id="instructions_test">
                            <div class="row1">
                                    <button class="btn_right" style="float:right;" id="show-modal" @click="showModal = true">ΟΔΗΓΙΕΣ</button>
                                    <modal v-if="showModal" @close="showModal = false">
                                    <h3 slot="header">ΕΓΚΑΤΑΣΤΑΣΕΙΣ ΚΑΙ ΕΞΟΠΛΙΣΜΟΣ</h3>
                                    <p slot="body"> 
                                        Για να προσθέσετε εγκαταστάσεις πατήστε το κουμπί (+). Για να αφαιρέσετε εγκαταστάσεις πατήστε το κουμπί (-)</br>
                                        Για να προσθέσετε εξοπλισμό πατήστε το κουμπί (+). Για να αφαιρέσετε εξοπλισμό πατήστε το κουμπί (-)</br>
                                    </br>
                                    Στη συνέχεια πατήστε submit για να γίνει αποθήκευση των δεδομένων σας.
                                </br>  

                                        Τέλος επιλέξτε το πλήκτρο "ΜΠΡΟΣΤΑ" για να προχωρήσετε παρακάτω.
                                    </p>
                                    </modal>
                                </div>
                            </div>
            <div class="container_main">
                    <div class="row1">
                            <div class="row5">
                            ΕΓΚΑΤΑΣΤΑΣΕΙΣ
                            </div>
                            <div class="row5">
                            ΕΞΟΠΛΙΣΜΟΣ
                            </div>
                    </div>
                    <div class="row5_1" id="left" style="    padding-right: 5%;float:left;">
                            <div class="row1">
                                <div class="row5">
                                 Εγκατάσταση
                                </div>
                                <div class="row5">
                                <textarea class="input_1_left"  placeholder="ΚΟΣΤΟΣ" ></textarea>
                                </div>
                            </div>
                            
                            <my-form2 v-for="x in range2"></my-form2>
                                    
                                    <button class="btn_right" id="addButton" v-on:click="addForm2()">+</button>
                                    <button class="btn_right" id="addButton" v-on:click="removeForm2()">-</button>
                                  
                                  
                                  <script type="text/x-template" id="my-form2">                          
                               
                                    <div class="row1">
                                        <div class="row1">
                                                <div class="row5">
                                                 Εγκατάσταση
                                                </div>
                                                <div class="row5">
                                                <textarea class="input_1_left" placeholder="ΚΟΣΤΟΣ" ></textarea>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        </script> 
                               
                       
		
                </div>
                <div class="row5_1" id="right" style="padding-left: 5%;float:right;border-right:none;"> 
                    <div class="row1">
                        <div class="row5">
                            Εξοπλισμός
                        </div>
                        <div class="row5">
                            <textarea class="input_1_right" placeholder="ΚΟΣΤΟΣ" ></textarea>
                        </div>
                    </div>
                    <div id="app">
                        <my-form v-for="n in range"></my-form>
                        
                        <button class="btn_right" id="addButton" v-on:click="addForm()">+</button>
                        <button class="btn_right" id="addButton" v-on:click="removeForm()">-</button>
                      </div>
                      
                      <script type="text/x-template" id="my-form">
                    
                   
                        
                        <div class="row1">
                            <div class="row5">
                                Εξοπλισμός
                            </div>
                            <div class="row5">
                                <textarea class="input_1_right"  placeholder="ΚΟΣΤΟΣ"></textarea>
                            </div>
                        </div>
                   
                      </script>   
                
                </div>
                
                

<script type="text/javascript">
   
    
                    function getItems() {
                        var items = document.getElementsByClassName("input_1_left");
                        var total_left = 0;
                        for (var i = 0; i < items.length; i++) {
                            total_left += Number(items[i].value);
                        }
                      var resElement = document.getElementById("res_left");
                      resElement.innerHTML = total_left;                   
                     }
                     </script>
<script type="text/javascript">
   
    
    function getItems_right() {
        var items = document.getElementsByClassName("input_1_right");
        var total_right = 0;
        for (var i = 0; i < items.length; i++) {
            total_right += Number(items[i].value);
        }
      var resElement = document.getElementById("res_right");
      resElement.innerHTML = total_right;                   
     }
     </script>
                <div class="row1">
                    <div class="row4">
                         ΚΟΣΤΟΣ ΕΓΚΑΤΑΣΤΑΣΕΩΝ</br>
	<div id="res_left"></div>
                    </div>
                    <div class="row6">
                        
                        <button class="btn_right" id="btn_calc" value="ΥΠΟΛΟΓΙΣΕ" onclick="getItems();getItems_right();" />ΥΠΟΛΟΓΙΣΕ</button>
                    </div>
	                <div class="row4">
                        ΚΟΣΤΟΣ ΕΞΟΠΛΙΣΜΟΥ</br>
                    <div id="res_right"  v-model="equipCost"> 

                    </div>
                    
                    </div>
                    <div class="row1">
                        <input id="Submitbtn" type="button" value="submit" @click="postData()" />
                    </div>
                </div>
           
</div>  
        </main>
    </div>


    <footer class="foot">
        <button class="foot__back">ΠΙΣΩ</button>
        <span class="foot__pagination">
            <p>1/2</p>
        </span>
        <button class="foot__next">ΜΠΡΟΣΤΑ</button>
    </footer>
     <!-- Import Vue.js -->
     <script src="https://cdn.jsdelivr.net/npm/vue"></script>
     <!-- Import jQuery.js -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <!-- Import our logic file -->
     <script src="left.js"></script>
     <script src="right.js"></script>
     <script src="instru.js"></script>
     <script src="db3.js"></script>
     <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     
</body>

</html>
