<!DOCTYPE html>

<html>



<head>
    <meta charset="utf-8">
    <title>BP Tool</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./Untitled-2.css">



    <style>

        /* BASIC ELEMENTS */

        .basic_button {

            background-color: rgb(24, 146, 105);

            width: 100px;

            height: 40px;

            display: flex;

            justify-content: center;

            align-items: center;

        }

    </style>

</head>



<body>



    <header class="head">

        <div class="head__logo">

            <img src="Logo.png" alt="Logo">

        </div>

        <div class="head__export">

            <i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i>

            <p>Export</p>

        </div>

        <img class="head__avatar" src="elvis.jpg" alt="Avatar">

    </header>





    <div class="main_container">

        <nav>

            <div class="sections-menu">

                <ul>

                    <li>

                        <a href="">?????????????? ???????</a>

                        <ul>

                            <li>

                                <a href="">?????????</a>

                            </li>

                            <li>

                                <a href="">?????????</a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="">????????? ????????</a>

                        <ul>

                            <li>

                                <a href="">????? ?????????</a>

                            </li>

                            <li>

                                <a href="">?????????</a>

                            </li>

                            <li>

                                <a href="">?????????? ??????????</a>

                            </li>

                            <li>

                                <a href="">??????? ???????</a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="">????????????? - ??????????</a>

                        <ul>

                            <li>

                                <a href="">????? ????????????</a>

                            </li>

                            <li>

                                <a href="">??????????</a>

                            </li>

                            <li>

                                <a href="">??????? ???????</a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="">???????? - ?????????</a>

                        <ul>

                            <li>

                                <a href="">???????? - ?????????</a>

                            </li>

                            <li>

                                <a href="">?????????? ??????????</a>

                            </li>

                            <li>

                                <a href="">??????? ??????</a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="">??????? ??????</a>

                        <ul>

                            <li>

                                <a href="">??????? SWOT</a>

                            </li>

                            <li>

                                <a href="">??????? PESTEL</a>

                            </li>

                            <li>

                                <a href="">??????? ????????????</a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="">?????????? MARKETING</a>

                        <ul>

                            <li>

                                <a href="">??????????</a>

                            </li>

                            <li>

                                <a href="">????????? MARKETING</a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="">????????????????? ??????????</a>

                        <ul>

                            <li>

                                <a href="">?????? ???????</a>

                            </li>

                            <li>

                                <a href="">?????? ???????????</a>

                            </li>

                            <li>

                                <a href="">????? ??????</a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="">??????????????</a>

                    </li>

                    <li>

                        <a href="">?????????</a>

                    </li>

                    <li>

                        <a href="">??????</a>

                    </li>



                </ul>

            </div>

        </nav>



        <main>
            <div id="userArea">
                <header></header>
                <h5 id="a"> 1.Question</h5>
                <br/>
                <div class="actions">
                    <div class="actions-container" v-for="as in actionsSelected">
                        <br/>
                        <select class="userInput" v-model:class="as"><!--  v-model="selected" > -->
                            <option v-for="a in actions" v-bind:class="a" >
                                {{ a.title }}
                            </option>
                        </select>
                        <br/>
                        <span>Selected: {{ as.value }}</span>
                        
                    </div>
                    <!-- <span>Selected: {{ as }}</span> -->
                </div>
                <button @click="create()" >+</button>
                <button id="instructions"> Instructions</button>
                 <!--Περιεχόμενο που εμφανίζεται με το πάτημα του κουμπιού-->
      <div id="instructions">Σε αυτή την ενότητα καταγράφονται όλες οι δαπάνες οι οποίες θα πρέπει να πραγματοποιηθούν προκειμένου να ξεκινήσει η επιχειρηματική δραστηριότητα.
          Επιλέξτε τα κόστη που σας ενδιαφέρουν (ή προσθέστε κάποιο επιπλέον) και πιέστε το πλήκτρο υπολογισμού για να δείτε το Συνολικό Κόστος Έναρξης.
          Στη συνέχεια επιλέξτε το πλήκτρο "ΕΜΠΡΟΣ" για να προχωρήσετε παρακάτω.
	      </div>
                <input id="add" type="image" src="add.png"  />
                    <br/><br/><br/>
                    <button id="calculate" @click="save()"> calculate</button>
            </div> 
        </main>

    </div>



    <footer class="foot">

        <button class="foot__back">????</button>

        <span class="foot__pagination">

            <p>1/2</p>

        </span>

        <button class="foot__next">???????</button>

    </footer>
        <!-- Import Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- Import jQuery.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Import our logic file -->
    <script src="logic1.js"></script>
    

</body>



</html>
