@charset "utf-8";
/* CSS Document */



body {
	
	font-family: "Open Sans";
 	position:relative;
	backround-color:lightblue;
	color:#1e2133;
	
}
#userArea{
	overflow-y: hidden;
	font-family: "Open Sans";
	color:#1e2133;
	backround-color:#fff;
	position:absolute;
	top:102px;
	left:568px;
	height:866px;
	width:1334px;
	bottom:100px;
}


#product{
	
	placeholder:"Ονομα Προιοντος"
	
}
h5{
	
	position:relative;
	top:20px;
	left:83px;
	font-size:20px;
	}





.userInput{
	
	position:relative;
	background-color: #fff;
	top:0px;
	left:83px;
	width:393px;
	height:66px;
	text-align: left;
	text-indent: 20px;
	font-size:25px;
	
	
	}
	
#c{
	position:absolute;
	left:600px;
	top:180px;
}

#inputC{
	
	position:absolute;
	top:254px;
	left:600px;
	
	
}
	
#e{position:absolute;
	left:600px;
	top:365px;
	
	
	
}

#inputE{
	position:absolute;
	left:600px;
	top:441px;
	
}

button{
	
	font-family:"Source Sans Pro";
	position:relative;
	width:217px;
	height:65px;
	background-color:#299858 ; 
	font-size: 25px;
    color:#fff;
	
}

#instructions{
	
	height:68px;
	width:172px;
	position:absolute;
	top:45px;
	left:1081px;
}


#calculate{
	position:relative;
	top:20px;
	left:82px;
	
	
}

#add{
	position:absolute;
	top:672px;
	left:80px;
	
}


#calculate{
	position:relative;
	
}

#result{
	position:absolute;
	background-color: #fff;
	top:550px;
	left:350px;
	width:393px;
	height:66px;
	text-align: left;
	text-indent: 20px;
	font-size:25px;
	border-style:hidden;
	
	
	

	
}

#product{
	
	color:#1e2133
}


placeholder{
	
	color:#cbcaca
}
