/* APP */

body {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: stretch;
    min-height: 100vh;
}


/* HEADER */

.head {
    background-color: rgb(30, 33, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    ;
}

.head__logo {
    margin-left: 20px;
}

.head__export {
    color: #fff;
    display: flex;
    margin-right: 100px;
    align-items: center;
}


.head__avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.head__export p {
    margin-left: 5px;
    font-size: 20px;
}

.head__export i {}


/* FOOTER */

footer {
    background-color: rgb(203, 202, 202);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot__back {
    margin-left: 30px;
    background-color: rgb(41, 152, 88);
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.foot__next {
    margin-right: 30px;
    background-color: rgb(41, 152, 88);
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.foot__pagination {
    font-size: 20px;
    font-weight: 600;
    color: black;
}


main {
    flex-grow: 1;
}

.main_container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav {
    background-color: rgb(30, 33, 51);
    width: 350px;
}


/* SECTIONS MENU */

.sections-menu {}

.sections-menu ul {
    list-style: none;
    margin: 0;
}

.sections-menu ul li {
    padding: 15px;
    position: relative;
    width: 350px;
    border-top: 1px solid black;
    background-color: rgb(30, 33, 51);
}

.sections-menu ul li {
    border-right: 5px solid rgb(61, 65, 90);
}

.sections-menu ul ul {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -2%;
    background-color: rgb(40, 44, 63);
}

.sections-menu ul ul li {
    background-color: rgb(79, 84, 115);
    width: 250px;
}

.sections-menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

.sections-menu ul li a {
    color: white;
}




/*.................new...............*/
.top_card{
    border-radius: 5px;
    padding: 20px;
    margin-left: 800px;
}

.my_card{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.my_card_head {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 15pt;
}/* APP */

body {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: stretch;
    min-height: 100vh;
}


/* HEADER */

.head {
    background-color: rgb(30, 33, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    ;
}

.head__logo {
    margin-left: 20px;
}

.head__export {
    color: #fff;
    display: flex;
    margin-right: 100px;
    align-items: center;
}


.head__avatar {

    border-radius: 50%;
    margin-right: 20px;
}

.head__export p {
    margin-left: 5px;
    font-size: 20px;
}

.head__export i {}


/* FOOTER */

footer {
    background-color: rgb(203, 202, 202);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot__back {
    margin-right: 30px;
    background-color: rgb(41, 152, 88);
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    cursor: pointer;
}

.foot__next {
    margin-left: 30px;
    background-color: rgb(41, 152, 88);
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.foot__pagination {
    font-size: 20px;
    font-weight: 600;
    color: black;
}


main {
    flex-grow: 1;
}

.main_container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav {
    background-color: rgb(30, 33, 51);
    width: 350px;
}


/* SECTIONS MENU */

.sections-menu {}

.sections-menu ul {
    list-style: none;
    margin: 0;
}

.sections-menu ul li {
    padding: 15px;
    position: relative;
    width: 350px;
    border-top: 1px solid black;
    background-color: rgb(30, 33, 51);
}

.sections-menu ul li {
    border-right: 5px solid rgb(61, 65, 90);
}

.sections-menu ul ul {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -2%;
    background-color: rgb(40, 44, 63);
}

.sections-menu ul ul li {
    background-color: rgb(79, 84, 115);
    width: 250px;
}

.sections-menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

.sections-menu ul li a {
    color: white;
}




/*.................new...............*/
.welcome{
  display: flex;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  padding-left: 150px;
  padding-top: 200px;
}


.top_card{
    border-radius: 5px;
    padding: 5px;
    margin-left: 80%;
    margin-right: 20%;
}

.my_card{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-left: 50px;
}

.my_card_head {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 15pt;
}


.my_card_body {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}


.my_card p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    color: rgb(40, 44, 63);
}

.my_card_body {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}


.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}
